<!-- <form>
        <div class="row">
            <div class="form-group">
                    <div class="col-6">
                            <input type="text" class="form-control pt-3" placeholder="Search github users" [(ngModel)]="username" name="username"
                            (keyUp)="findUserProfile()">
                      </div>  
            </div>                  
        </div>
</form>
 -->


<form action="" class=" search-form pt- 5">
    <div class="form-group m-5">
        <input type="text" class="form-control pt-3" placeholder="Search github users" #username name="username">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)='userSearchString(username.value)' >Search Users</button>
    </div>
</form>




<div class="container-fluid py-5 bg-white">
    <div class="card" *ngFor="let user of users?.items">
        <div class="card-header text-info">User name: {{user.login}}</div>
        <div class="card-body">find in Github: {{user.html_url}}</div>
    </div>
</div>